@import "../../styles/_variables";

.ranges-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  .range-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 25px;

    &:last-child {
      margin: 0;
    }

    @media (min-width: $breakpoint-mobile) {
      width: 33.3333%;
      padding: 10px;
      margin: 0;
    }

    .range-check {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 0 20px;

      input[type="checkbox"] {
        cursor: pointer;
        width: 24px;
        height: 24px;
      }

      label {
        cursor: pointer;
        margin-left: 10px;
        font-size: 16px;
        line-height: 1;
        font-weight: 600;
      }
    }

    .range-slider {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;

      label {
        transition: opacity 0.25s ease-in-out;
        cursor: default;
        margin: 5px 0 0;
        font-size: 12px;
        line-height: 1;
        font-weight: 500;
        color: $gray;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        i,
        svg {
          opacity: 0.25;
          margin-right: 4px;
        }
      }

      input[type="range"] {
        transition: opacity 0.25s ease-in-out;
        cursor: pointer;
        width: 100%;
        margin: 0;

        &[disabled] {
          opacity: 0.4;

          + label {
            opacity: 0.4;
          }
        }
      }
    }
  }
}
