// breakpoints
$breakpoint-mobile: 540px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

// colors
$light-gray: #efefef;
$soft-gray: #dadada;
$gray: #6f6f6f;
$black: #000;
$white: #fff;
$dark: #1e1e1e;
$light: #f8f8f8;
$yellow: #fc0;
$failure: #f44336;
$info: #00bcd4;
