@import "../../styles/variables";

.aoe-slider {
  margin: 20px 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media (min-width: $breakpoint-tablet) {
    margin: 40px 0;
  }

  .aoe-slider-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 480px;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 20px;

    @media (min-width: $breakpoint-tablet) {
      position: absolute;
      margin: 0 auto;
      padding: 0;
    }

    p {
      font-size: 18px;
      color: $dark;
      text-align: center;
      font-weight: 600;
      margin: 10px 0 30px;

      @media (min-width: $breakpoint-tablet) {
        font-size: 24px;
        color: $light;
        font-weight: 400;
        margin: 0 0 30px;
      }
    }

    .aoe-slider-cta {
      padding: 20px 40px;
      font-size: 20px;
      font-weight: 500;
      border-radius: 100px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      background: $dark;
      color: $light;

      @media (min-width: $breakpoint-tablet) {
        background: $light;
        color: $dark;
        font-weight: 600;
      }

      &:hover {
        background: $yellow;
      }

      i,
      svg {
        transform: scale(1.2);
        transform-origin: center center;
        margin-right: 16px;
      }
    }
  }
}
