@import "../../styles/variables";

.aoe-layout {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .aoe-container {
    width: 100%;
    max-width: 1240px;
    margin: auto;
    padding: 0 10px;

    @media (min-width: $breakpoint-tablet) {
      padding: 0 20px;
    }
  }
}
